@{
    ViewBag.Title = "首页";
}


<div class="pd_lr_15 pd_tb_10">
    <div style="min-height:400px;">
        <div style="min-height:100px;">
            <div class="seekask-title">
                <h4>个人信息</h4>
            </div>
        </div>
        <div>
            <div class="seekask-title">
                <h4>个人代办</h4>
            </div>
        </div>
    </div>
</div>