@{
    ViewBag.Title = "首页";
}

<div class="col-sm-2 pd_lr_0">
    <div class="seekask-sidebar">

    </div>
</div>

<div class="col-sm-10 scp-main-cont pd_tb_10">
    <div style="min-height:400px;">
        <div style="min-height:100px;">
            <div class="seekask-title">
                <h4>个人信息</h4>
            </div>
        </div>
        <div>
            <div class="seekask-title">
                <h4>个人代办</h4>
            </div>
        </div>
    </div>
</div>