@{
    ViewBag.Title = "首页";
}

<div class="col-sm-2 pd_lr_0">
    <div class="seekask-sidebar">
        <ul class="nav">
            <li>
                <a href="javascript:;">
                    <span class="icon-arrow-right"></span> 系统主页
                </a>
                <ul class="nav">
                    <li>
                        <a href="javascript:;">域名绑定</a>
                    </li>
                    <li>
                        <a href="javascript:;">默认首页设置</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="ng-binding">
                    <span class="icon-arrow-right"></span> 个人代办
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-sm-10 scp-main-cont">
    <div style="min-height:400px;">
        <h1>首页</h1>
    </div>
</div>