@{
    ViewBag.Title = "基础管理";

    string _ActionName = ViewBag.ActionName ?? "PersonQuery";
}

<style type="text/css">
    #left_bar.seekask-sidebar > .nav > li.active > a {border-left-color: #F90;}
</style>

<div class="col-sm-2 pd_lr_0">
    <div class="seekask-sidebar" id="left_bar">
        <ul class="nav">
            <li>
                <a href="@(Url.Content("~/BaseManager/PersonQuery"))"
                   data-ajax-id="PersonQuery"
                   data-ajax-update="#BaseManager_Layout_Content"
                   data-ajax="true" data-ajax-failure="fnAjaxError"
                   data-ajax-success="fnAjaxSuccess">
                    <span class="fa fa-user"></span> 人员档案室
                </a>
            </li>
            <li>
                <a href="@(Url.Content("~/BaseManager/OrgQuery"))"
                   data-ajax-id="OrgQuery"
                   data-ajax-update="#BaseManager_Layout_Content"
                   data-ajax="true" data-ajax-failure="fnAjaxError"
                   data-ajax-success="fnAjaxSuccess">
                    <span class="fa fa-building"></span> 单位档案室
                </a>
            </li>
            <li>
                <a href="@(Url.Content("~/BaseManager/ProfessionInfo"))"
                   data-ajax-id="OrgQuery"
                   data-ajax-update="#BaseManager_Layout_Content"
                   data-ajax="true" data-ajax-failure="fnAjaxError"
                   data-ajax-success="fnAjaxSuccess">
                    <span class="fa fa-building-o"></span> 专业科目室
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <span class="fa fa-caret-right"></span> 基础数据维护
                </a>
                <ul class="nav">
                    <li>
                        <a href="javascript:;">
                            静态数据维护
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="col-sm-10 scp-main-cont pd_tb_10">
    <div style="min-height:400px;" id="BaseManager_Layout_Content">
        @{Html.RenderAction(_ActionName, "BaseManager", null);}
    </div>
</div>


<script type="text/javascript">
    $("#left_bar>ul>li").click(function () {
        $(this).addClass("active").siblings(".active").removeClass("active");
    });
</script>