@{
    ViewBag.Title = "机构选择";
}

@Scripts.Render(Url.Content("~/Scripts/bootstrap-treeview.js"))
@Styles.Render(Url.Content("~/Content/bootstrap-treeview.min.css"))
<style type="text/css">
    #orgList{max-height: 500px;overflow:auto;}
</style>

<div id="orgList"></div>


<script type="text/javascript">
    //获取数据
    function getTree(Pcode) {
        var _option = {
            url: "@Url.Content("~/BaseManager/getOrgDataList")?ParentCode=" + (Pcode || "")
    },
        tree = [];
    $.web.get(_option, {
        OnSuccess: function (xhrData) {
            if (xhrData) {
                $.each(xhrData, function(_i,_t) {
                    tree.push(
                        {
                            text: _t.OrgName,
                            state: {
                                orgcode: _t.OrgCode,
                                orgname:_t.OrgName,
                                sortcode:_t.SortCode,
                                shortname:_t.ShortName
                            },
                            nodes:_t.HasChildren?[]:null
                        }
                        );
                });
            }
        },
        onFailure: function(err) {

        }

    });
    return tree;
    }
  

    $(function () {
        $("#orgList")
            .treeview({ data: getTree() })
            .on("nodeSelected", function (e, d) {
                var $selectedNode = $("#orgList>ul>li[data-nodeid='" + d.nodeId + "']"),
                    _X = $selectedNode.offset().left + $selectedNode.width() + 50,
                    _Y = $selectedNode.offset().top;
            })
            .on("nodeExpanded", function (e, node) {
            if (!node.state.IsLoaded) {
                var $node = getNode(node.nodeId);
                $node.state["IsLoaded"] = !0;
                var treeData = getTree($node.state.orgcode);
                $.each(treeData, function (_i, _t) {
                    addNode(node.nodeId, { "node": _t });
                });
                $node.nodes = treeData.length == 0 ? null : treeData;
            }
            else {
                console.log("已经加载过数据");
            }
        });
    });
</script>