@{
    ViewBag.Title = "人员档案室";
    Layout = null;
    string _ActionName = ViewBag.ActionName ?? "PerSonDetail";
}

<div class="col-sm-2 pd_lr_0">
    <div class="seekask-sidebar">
        <div class="seekask-title">
            <h5>单位信息</h5>

            <div class="pull-right" style="margin-top:5px;margin-right:5px;">
                <a href="javascript:;" class="orgtreeRefresh"><i class="fa fa-refresh"></i> 刷新</a>
            </div>
        </div>
        <hr class="mg_b_10" style="margin-top:5px;" />
        <div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="cbPersonHasChildOrg" checked> 包含子集单位成绩信息
                </label>
            </div>
        </div>
        <div id="PersonQueryOrgTree" class="pd_b_25" style="overflow-y:auto;overflow-x:auto;">

        </div>
    </div>
</div>

<div class="col-sm-10 scp-main-cont">
    <div style="min-height:400px;">
        <div>
            <div class="seekask-title">
                <h5>查询条件</h5>
            </div>
            <hr class="mg_b_10" style="margin-top:5px;" />

            <table style="width:100%">
                <tr style="height:40px;">
                    <td class="text-right pd_r_10">
                        <label class="control-label">士兵证号：</label>
                    </td>
                    <td><input type="text" class="form-control" /></td>
                    <td class="text-right pd_r_10">
                        <label class="control-label">人员姓名：</label>
                    </td>
                    <td><input type="text" class="form-control" /></td>
                    <td>
                        <a href="javascript:;" class="btn btn-primary pd_x_0310 mg_l_25" id="btnSearch">
                            <i class="fa fa-search"></i>&nbsp;&nbsp;查询&nbsp;
                        </a>
                        <a href="javascript:;" class="btn btn-warning pd_x_0310 mg_l_10" id="btnReset">
                            <i class="fa fa-refresh"></i>&nbsp;&nbsp;重置&nbsp;
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="mg_t_20">
            <div class="seekask-title mg_b_10">
                <h5>成绩列表</h5>
            </div>
            <hr class="mg_0" style="margin-top:5px;" />
            <div id="btnPersonQueryTools">
                <button class="btn btn-primary pd_x_0310" id="btnAddPersonQuery">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;录入&nbsp;
                </button>
                <button class="btn btn-info pd_x_0310" id="btnEditPersonQuery">
                    <i class="fa fa-edit"></i>&nbsp;&nbsp;编辑&nbsp;
                </button>
                <button class="btn btn-danger pd_x_0310" id="btnDelPersonQuery">
                    <i class="fa fa-remove"></i>&nbsp;&nbsp;删除&nbsp;
                </button>
            </div>
            <table id="tb_PersonInfo"></table>
        </div>

    </div>
</div>

<script>

    var TableInit = function () {
        var oTableInit = new Object();
        oTableInit._SelectOrTree;
        oTableInit._SelectOrgCode;
        //初始化Table
        oTableInit.Init = {
            striped: true,
            cache: false,
            pagination: true,     //是否显示分页（*）
            sortable: true,      //是否启用排序
            sortOrder: "asc",     //排序方式
            queryParamsType: "limit",
            queryParams: function (params) {
                params["$top"] = params.limit;
                params["$skip"] = params.offset;
                params["$inlinecount"] = "allpages";
                params["$filter"] = "IsDeleted eq false";
                if (oTableInit._SelectOrgCode) {
                    var isChecked = $('#cbPersonHasChildOrg').is(":checked");
                    if (isChecked)
                        params["$filter"] += " and startswith(OrgCode, '" + oTableInit._SelectOrgCode + "') ";
                    else
                        params["$filter"] += " and OrgCode eq '" + oTableInit._SelectOrgCode + "' ";
                }
                if (params.sort)
                    params["$orderby"] = params.sort + " " + params.order;
                return params;
            },//传递参数（*）
            undefinedText: "",
            sidePagination: "server",   //server服务端分页（*）
            showColumns: true,     //是否显示所有的列
            showRefresh: true,     //是否显示刷新按钮
            minimumCountColumns: 2,    //最少允许的列数
            clickToSelect: true,    //是否启用点击选中行
            showToggle: true,     //是否显示详细视图和列表视图的切换按钮
            cardView: false,     //是否显示详细视图
            detailView: false,     //是否显示父子表
            dataField: "value",
            responseHandler: function (res) {
                if (res && res["odata.count"])
                    res.total = res["odata.count"];
                else
                    res.total = res.value.length;
                return res;
            }
        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            debugger;
            var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit, //页面大小
                offset: params.offset, //页码
                departmentname: $("#txt_search_departmentname").val(),
                statu: $("#txt_search_statu").val()
            };
            return temp;
        };
        return oTableInit;
    };

    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            //初始化页面上面的按钮事件
        };

        return oInit;
    };

</script>

<script>
    //1.初始化Table
    var oTableInit = new TableInit();
    function fnInitPersonQueryTable() {
        $('#tb_PersonInfo').bootstrapTable($.extend(oTableInit.Init, {
            url: document.weburl + 'odata/EBasPersonInfo',
            toolbar: '#btnPersonQueryTools',
            sortName: 'ModifyTime',
            sortOrder: 'desc',
            uniqueId: "PersonId",      //每一行的唯一标识，一般为主键列
            columns: [{ checkbox: true },
            { field: 'OrgName', title: '单位名称', halign: 'center', sortable: true },
            {
                field: 'PersonStatus', title: '人员状态', halign: 'center', sortable: true, align: 'center',
                formatter: function (value, row, index) {
                    switch (value) {
                        case "00": return "有效";
                        case "01": return "无效";
                        default:
                            return value;
                    }
                }
            },
            { field: 'PersonCode', title: '士兵证号', halign: 'center', sortable: true, align: 'center' },
            { field: 'PersonName', title: '人员姓名', halign: 'center', sortable: true, align: 'center' },
            {
                field: 'Sex', title: '性别', halign: 'center', sortable: true, align: 'center',
                formatter: function (value, row, index) {
                    switch (value) {
                        case "00": return "未定义";
                        case "01": return "男";
                        case "02": return "女";
                        default:
                            return value;
                    }
                }
            },
            { field: 'ProfessionName', title: '专业名称', halign: 'center', sortable: true, align: 'center' },
            { field: 'Nation', title: '民  族', halign: 'center', sortable: true, align: 'center' },
            { field: 'Recruitment', title: '籍  贯', halign: 'center', sortable: true, align: 'center' },
            { field: 'Education', title: '学  历', halign: 'center', sortable: true, align: 'center' },
            { field: 'PersonPost', title: '职  务', halign: 'center', sortable: true, align: 'center' },
            { field: 'PersonRank', title: '军  衔', halign: 'center', sortable: true, align: 'center' },
            { field: 'ModifyByName', title: '维护人员', halign: 'center', sortable: true },
            {
                field: 'ModifyTime', title: '维护时间', halign: 'center', sortable: true, align: 'center',
                formatter: function (value, row, index) {
                    if (value) {
                        return $.utils.dataFormat(value, 'yyyy-MM-dd HH:mm:ss');
                    }
                    return value;
                }
            }]
        }));
    }

    function showPersonQueryOrgTree() {
        $('#PersonQueryOrgTree').jstree({
            'plugins': ["wholerow", "types"],
            'core': {
                "themes": {
                    "responsive": false
                },
                'data': {
                    "url": document.weburl + "odata/EBasOrg",
                    "dataType": "json",
                    'data': function (node) {
                        if (node.id === "#")
                            return {
                                '$filter': "IsDeleted eq false and ParentCode eq null ",
                                '$orderby': 'SortCode'
                            };
                        else
                            return {
                                '$filter': "IsDeleted eq false and ParentCode eq '" + node.id + "'",
                                '$orderby': 'SortCode'
                            };
                    },
                    'success': function (xhr) {
                        if (xhr && xhr.value) {
                            var data = [];
                            for (var i = 0; i < xhr.value.length; i++) {
                                var xhrVal = {
                                    'id': xhr.value[i].OrgCode,
                                    'text': xhr.value[i].OrgName,
                                    "children": true,
                                    'dt': xhr.value[i]
                                };
                                if (i == 0 && xhr.value[i].ParentCode == null)
                                    xhrVal["state"] = { 'opened': true };
                                data.push(xhrVal);
                            }
                            xhr.d = data;
                        }
                    }

                }
            },
            "types": {
                "default": {
                    "icon": "fa fa-folder icon-state-warning icon-lg"
                },
                "file": {
                    "icon": "fa fa-file icon-state-warning icon-lg"
                }
            }
        });
    }

    $('#PersonQueryOrgTree').on('changed.jstree', function (e, data) {
        if (data.selected.length) {
            var selectNode = data.instance.get_node(data.selected[0]);
            oTableInit._SelectOrgCode = selectNode.id;
            oTableInit._SelectOrTree = selectNode;
            try {
                $('#tb_PersonInfo').bootstrapTable('refresh');
            } catch (e) {

            }

        }
    });

    $('#cbPersonHasChildOrg').unbind('click').bind('click', function () {
        $('#tb_PersonInfo').bootstrapTable('refresh');

    });
    $('#btnAddPersonQuery').unbind('click').bind('click', function () {
        var addopts = null;
        if(oTableInit._SelectOrTree==null){
            antd.message.warning("请选择一家单位信息进行人员录入！！！", 5);
            return false;
        }
        if(oTableInit._SelectOrTree != null){
            addopts = [{name: 'OrgCode', value: oTableInit._SelectOrTree.id}];
        }
        $.utils.formSubmit({
            action: '@(Url.Content("~/BaseManager/PersonInfoAdd"))',
            'data-ajax-id': 'test3'
        }, addopts);
    });
    $('#btnEditPersonQuery').unbind('click').bind('click', function () {
        var _$SelectRows = $('#tb_PersonInfo').bootstrapTable('getSelections');
        if (_$SelectRows && _$SelectRows.length != 1) {
            antd.message.warning("请选择一条人员信息进行编辑！！！", 5);
            return false;
        }
        var _OneSelectRowId = _$SelectRows[0].PersonId;
        $.utils.formSubmit({
            action: '@(Url.Content("~/BaseManager/PersonInfoAdd"))',
            'data-ajax-id': 'test3'
        }, [{ name: 'PersonId', value: _OneSelectRowId }]);
    });


    showPersonQueryOrgTree();
    fnInitPersonQueryTable();

</script>