@{
    ViewBag.Title = "PerSonDetail";
    Layout = null;
}

@Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
<style type="text/css">
    table.table td {line-height: 30px;padding: 0;}
    table.table td.text-left {line-height: 20px;}
    table.table input,
    table.table select,
    table.table textarea {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
</style>

<table class="table table-bordered text-center text-middle" cellpadding="0" cellspacing="0">
        <tr class="text-bold">
            <td>姓名</td>
            <td>职务</td>
            <td>军衔</td>
            <td>专业</td>
            <td>名族</td>
            <td>籍贯</td>
            <td colspan="2">单位</td>
        </tr>
        <tr>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td>
                <select>
                    <option>上校</option>
                    <option>中校</option>
                    <option>少校</option>
                </select>
            </td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td colspan="2"><input type="text" /></td>
        </tr>
        <tr class="text-bold">
            <td>学历</td>
            <td colspan="2">入伍时间</td>
            <td colspan="2">从事专业时间</td>
            <td>是否到期</td>
            <td>建档时间</td>
            <td>退档时间</td>
        </tr>
        <tr>
            <td><input type="text" /></td>
            <td colspan="2"><input type="text" readonly class="datepicker"/></td>
            <td colspan="2"><input type="text" readonly class="datepicker" /></td>
            <td><input type="text" /></td>
            <td><input type="text" readonly class="datepicker" /></td>
            <td><input type="text" readonly class="datepicker" /></td>
        </tr>
        <tr class="text-bold">
            <td>政治面貌</td>
            <td>党团时间</td>
            <td>训练提纲</td>
            <td>训练等级</td>
            <td>申报等级</td>
            <td>性别</td>
            <td colspan="2">士兵证号</td>
        </tr>
        <tr>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td><input type="text" /></td>
            <td colspan="2" class="text-left"><input type="text" /></td>
        </tr>
        <tr>
            <td class="text-bold text-middle">工作简历</td>
            <td colspan="7" class="text-left"><textarea></textarea></td>
        </tr>
        <tr>
            <td class="text-bold text-middle">参加集训情况</td>
            <td colspan="7" class="text-left"><textarea></textarea></td>
        </tr>
        <tr>
            <td class="text-bold text-middle">加重演戏演</td>
            <td colspan="7" class="text-left"><textarea></textarea></td>
        </tr>
        <tr>
            <td class="text-bold text-middle">参加比武情况</td>
            <td colspan="7" class="text-left"><textarea></textarea></td>
        </tr>
        <tr>
            <td class="text-bold text-middle">参加比武情况</td>
            <td colspan="7" class="text-left"><textarea></textarea></td>
        </tr>
    </table>
@Scripts.Render("~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js")
@Scripts.Render("~/Scripts/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js")

<script type="text/javascript">
    $(function () {
        $(".datepicker").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-MM-dd",
            showMeridian: true,
            autoclose: true,
            todayBtn: true
        });
    });
</script>