@{
    ViewBag.Title = "专业档案室";
    Layout = null;
}

<div>
    <div>
        <div class="seekask-title">
            <h4 class="cl_cc00">专业科目配置</h4>
        </div>
        <hr class="mg_t_10 mg_b_10" />
        <div class="pull-right">

        </div>
    </div>

    <div class="mg_t_20">

    </div>

</div>
